<div class="row" id="home-main">
	<div class="small-10 medium-8 large-6 small-centered column">
		<h1 id="home-header">DFF Lineup Optimizer</h1>
		<%=image_tag('draftkingswinner.jpg')%>
		<h3>This could be you.</h3>
		<p>Generate the best possible daily fantasy football (DFF) lineups at the click of a button. Our algorithm utilizes player rankings and predictions from the most-accurate fantasy football prediction website, FantasyFootballNerd.com, which aggregates weekly player rankings from every top fantasy football analyst in the world. We then combine those predictions with FanDuel's player pricing to figure out which lineups will have the best chance at winning every week.</p>
		<p>Our team uploads the new FanDuel player pricing CSV every week. All optimized lineups are for the current week only.</p>
	</div>
	<div class="row">
		<div class="small-8 medium-6 large-4 small-centered column">
			<form id="home-form" action='/lineups' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<h4>Increase Your Odds of Winning Big Every Week</h4>
				<p>2016 Season: Week 1</p>
				<button class="centered">Optimize Lineups</button>
				<p class="red">Warning - Running through every possible lineup combination takes a few minutes. Please do not hit refresh!</p>
			</form>
		</div>
	</div>
</div>