
<div id="container" class="row">
	<div id="avg-lineups" class="small-12 columns lineup-group">
		<h2>Best Overall Lineups</h2>
		<div class="row">
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #1</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #2</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #3</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #4</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #5</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #6</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
		</div>	
	</div>
	<div id="high-lineups" class="small-12 columns lineup-group">
		<h2>Highest Ceiling Lineups</h2>
		<div class="row">
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #1</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #2</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #3</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #4</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #5</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #6</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>High Score: 191</li>
					<li>Average Score: 151</li>
					<li>Low Score: 97</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
		</div>		
	</div>
	<div id="low-lineups" class="small-12 columns lineup-group">	
		<h2>Lowest Risk Lineups</h2>
		<div class="row">
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #1</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #2</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #3</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #4</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #5</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup #6</h5>
				<ul>
					<li>QB: Derek Carr</li>
					<li>RB: Todd Gurley</li>
					<li>RB: DeAngelo Williams</li>
					<li>WR: Antonio Brown</li>
					<li>WR: Julio Jones</li>
					<li>WR: Odell Beckham, Jr.</li>
					<li>TE: Robb Gronkowski</li>
					<li>K: Chandler Catanzaro</li>
					<li>DEF: Minnesota Vikings</li>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Low Score: 97</li>
					<li>Average Score: 151</li>
					<li>High Score: 191</li>
				</ul>
				<h5>Total Budget</h5>
				<p>$69,300</p>
			</div>
		</div>	
	</div>
</div>



<% for i in 0..@lineups.count do %>
	<p><%=@lineups[i]%></p>
<% end %>



