/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body{
 	background-color: #ececdf;
 }
 #home-main {
 	text-align: center;
 }
 	#home-main h1, img, p{
 		margin: 5% 0%;
 	}
 	#home-main img{
 		border-radius: 10%;
 		margin: 3% 0%;
 	}
#home-form {
	margin-bottom: 10%;
}
#home-form button{
	font-weight: bold;
	padding: 3%;
}
.lineup-group {
	margin: 5% 0%;
}
	.lineup-group h2 {
		margin-bottom: 3%;
	}
	.lineup-group h5, .lineup-group p{
		text-align: center;
	}
	.lineup-group ul{
		list-style-type: none;
		margin: 1%;
		padding: 1%;
	}

.lineup, #home-form {
	border: 1px solid grey;
	background-color: white;
	/*border-radius: 20%;*/
	padding: 1% 0%;
}
	.lineup h5, #home-header, #home-form button {
		background-color: green;
		color: white;
	}


.all-lineups{
	display: inline-block;
	width: 19%;
}
.all-lineups p{
	margin: 0;
}
.all-lineups ul{
	list-style-type: none;
}


